---
const pageTitle = "Who Am I?"
---


<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/hobbies">Hobbies</a>

  <h1>{pageTitle}</h1>
  <p>I am Gerry!</p>
</body>

<style>
  body {
    font-family: sans-serif;
  }

  a {
    color: orange;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  
</style>