<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/hobbies">Hobbies</a>
  <h1>My Hobbies</h1>
  <ul>
    <li>Reading</li>
    <li>Fishing</li>
    <li>Music</li>
    <li>Computers</li>
  </ul>

</body>